@use 'styles/variable.scss' as *;

.option {
  @include flex(space-between, center);
  height: 44px;
  background-color: $white;
  @include mobileTablet {
    padding: 0 18px;
  }
}

.sortOption {
  @include flex;
  button {
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0 10px;
    &:before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $border-grey;
      position: absolute;
      left: 0;
    }
  }
  .active {
    color: $font-normal;
    &:before {
      background-color: $green;
    }
  }
}

.filterOption {
  @include flex;
  .selectedList {
    @include flex;
    li {
      margin: 0 5px;
      &:last-child {
        margin-right: 10px;
      }
    }
  }
}

.filterForm {
  @include flex(space-between, flex-start);
  @include mobileTablet {
    flex-flow: column wrap;
  }
  height: 100%;

  .optionContainer {
    display: flex;
    flex-flow: column;
    row-gap: 11px;
  }

  button {
    padding: 8px 20px;
    align-self: flex-end;
    @include mobileTablet {
      width: 100%;
    }
  }
}
