@use 'styles/variable.scss' as *;

.button {
  @include inline-flex;
  @include font(2.2rem, $white);
  border: 0;
  border-radius: 5px;
  &:disabled {
    background-color: $grey-light;
    cursor: not-allowed;
  }
}

.primaryBtn {
  background-color: $green;
}

.secondaryBtn {
  @include font(1.3rem, #adb5bd, normal);
  background-color: $white;
  border: 1px solid $border-grey;
}
