@use 'styles/variable.scss' as *;

.error {
  background-color: rgb(244, 204, 204);
  height: 40px;
  position: relative;
  top: 70px;
  @include mobileTablet {
    top: 45px;
  }
  z-index: 10;
  @include flex;

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
  }
}
