/** 
 * 사용자 정의 초기화
 */

html {
  font-size: 10px;
}

html,
body,
div,
p,
span,
strong,
b,
em,
iframe,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
img,
dl,
dt,
dd,
fieldset,
form,
legend,
label,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
ul,
ol,
li,
a,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0 none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Spoqa Han Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
}

body,
body *,
body::before,
body::after,
body *::before,
body *::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

button {
  user-select: none;
  cursor: pointer;
}
