@use 'styles/variable.scss' as *;

.feedSection {
  .loadingArea {
    min-height: 100vh;
  }

  li {
    margin-bottom: 30px;
    @include mobileTablet {
      margin-bottom: 0;
    }
  }

  article {
    @include mobileTablet {
      padding: 20px 0;
    }
  }

  // 첫번째 답글의 카드
  .replies {
    div:first-child {
      @include mobileTablet {
        padding-top: 0px;
      }
    }
  }

  .replyCount {
    @include font(1.6rem);
    background-color: $white;
    padding: 30px 0 10px 0;
    @include mobileTablet {
      padding-left: 20px;
    }
    em {
      font-style: normal;
      color: $green;
    }
  }
}
