@use 'styles/variable.scss' as *;

.card {
  padding: 20px 30px;
  @include mobileTablet {
    padding: 20px 15px;
  }
  border: 1px solid $border-grey;
  border-radius: 5px;
  background-color: $white;

  header {
    border-bottom: 1px solid $border-grey;
    margin-bottom: 15px;
    @include flex(space-between, center);
    span {
      color: $font-light;
      margin-bottom: 11px;
    }
  }

  // 카드내에서 반복적으로 사용되는 폰트 정리
  span {
    @include font(1.3rem, $font-normal);
  }

  h2 {
    @include font(1.8rem, $font-bold, bold);
    line-height: 28px;
  }
  p {
    @include font(1.6rem, $font-normal);
    line-height: 25px;
  }

  time {
    @include font(1.3rem, $font-normal);
  }
}

.selected {
  border: 1px solid $green;
}

.noBorderMobile {
  @include mobileTablet {
    border: none;
  }
}
