@use 'styles/variable.scss' as *;

.feedDetail {
  @include mobileTablet {
    border-top: 1px solid $green;
    border-bottom: 1px solid $green;
  }
  p {
    margin: 6px 0 15px 0;
  }
  time {
    color: $font-light2;
  }
}
