@use 'styles/variable.scss' as *;

.feed {
  h2 {
    margin: 17px 0 6px 0px;
  }

  h2,
  p {
    @include ellipsis;
  }
}

.feedMeta {
  position: relative;

  time {
    margin: 0 20px;
  }

  span:first-child {
    color: $green;
    margin: 0;
  }

  span:last-child:after {
    display: none;
  }

  span:after {
    margin: 0 10px;
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    border-right: 1px solid $border-grey;
    top: 0;
  }
}
