@use 'styles/variable.scss' as *;

.ads {
  position: relative;
  img {
    max-width: 310px;
    max-height: 179px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mobileTablet {
      max-width: 100%;
    }
  }
  span {
    display: inline-block;
    margin-bottom: 16.5px;
    @include font(1.3rem, $font-light);
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.adsContainer {
  @include flex;
  @include mobileTablet {
    flex-flow: column wrap;
  }
}

.textContainer {
  max-width: 465px;
  margin-left: 29.5px;
  @include mobileTablet {
    max-width: none;
    width: 100%;
    margin: 0;
  }

  h2 {
    @include font(1.8rem, $font-bold, bold);
    margin-bottom: 11px;
    @include ellipsis;
  }
  p {
    @include font(1.6rem, $font-normal);
    @include ellipsis(4);
  }
}
